.btn{
    //this singular ampersand translates to button element
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        font-family: 'Righteous', cursive;
        text-decoration: none;
        padding: .3rem 1rem;
        /* always give inline block to elements that have padding, width, etc, now it is treated as text */
        display: inline-block;
        /* initial state for all the properties */
        transition: all .2s;
        border-radius: 2px;
        font-size: 2rem;
        letter-spacing: .2rem;
        position: relative;

        //Change for the <button> element
        cursor: pointer;
    }

    &:hover {

        &::after{
            opacity: 0;
        }
    }

    &:active,
    &:focus{
        background-color:  rgba(30, 242, 136, 0.78);
    }

    &--white{
        background-color:$color-white;
        color:$color-grey-dark;

        &::after{
            background-color:$color-white;
        }
    }

    &--green{
        background-color:$color-primary;
        color:$color-white;

        &::after{
            background-color:$color-primary;
        }
    }

    &--arcade{
        border: 1px solid blue;
        color: white;
    }

    /* like a child of the btn */
    /* this element will become visible after you hover on the btn */
    &::after {
        /* you must specify the content and display properties, whether it is empty or not */
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        /* will apply the animation styles before it even starts */
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        font-size: $default-font-size;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px)
    }

    &:active{
        box-shadow: 0 .5rem 2rem rgba($color-black, .15);
        transform: translateY(0)
    }
}