@keyframes moveInLeft {
    /* 0% is the start, 100% is the end */
    /* only use opacity and transform for keyframes */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /* 0% is the start, 100% is the end */
    /* only use opacity and transform for keyframes */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    /* 0% is the start, 100% is the end */
    /* only use opacity and transform for keyframes */
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes neon {
    from {
        text-shadow:
        0 0 6px rgba(202, 228, 225, 0.767),
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(30, 242, 111, 0.52),
        0 0 21px rgba(30, 242, 111, 0.671),
        0 0 34px rgba(30, 242, 136, 0.78),
        0 0 54px rgba(30, 242, 125, 0.92);
    }
    to {
        text-shadow: 
        0 0 6px rgba(202, 228, 225, 0.747),
        0 0 30px rgba(202,228,225,0.42),
        0 0 12px rgba(30, 242, 118, 0.58),
        0 0 22px rgba(30, 242, 48, 0.692),
        0 0 38px rgba(30, 242, 178, 0.671),
        0 0 60px rgb(30, 242, 136);
    }
}